# Build artifacts
*.o
*.obj
*.so
*.dll
*.dylib
*.a
*.lib
*.exe
*.out
*.app

# CMake files
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
build/
_build/
out/
asset/
back_up/

# Compiled dynamic libraries
*.lo
*.la

# VS Code settings
.vscode/

# CLion settings
.idea/

# Xcode
*.xcworkspace
*.xcuserstate
*.xcuserdatad
*.xcodeproj

# Qt Creator
*.pro.user*
*.qmake.stash

# Debug and logs
*.log
*.stackdump
core

# Misc
*.swp
*.DS_Store
Thumbs.db

# Ignore test outputs
test-output/
